
\.vs/ProcessAnalyzer/DesignTimeBuild/

\.vs/ProcessAnalyzer/v16/

ProcessAnalyzer/bin/Debug/netcoreapp2\.1/

ProcessAnalyzer/obj/Debug/netcoreapp2\.1/

ProcessAnalyzer/obj/

ProcessAnalyzer\.sln

ProcessAnalyzer/bin/Release/netcoreapp2\.1/

ProcessAnalyzer/Properties/PublishProfiles/

ProcessAnalyzer/ProcessAnalyzer\.csproj\.user
